{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<form action="{% url 'set_language' %}"
      class="flex flex-row items-center justify-center space-x-2"
      data-turbo="false"
      method="post">
  {% csrf_token %}
  <input name="next" type="hidden" value="{{ redirect_to }}">
  <div class="control has-icons-left">
    <div class="select is-rounded">
      <select class="dark:bg-gray-700 dark:text-white" name="language" onchange="this.form.submit()">
        {% for language in languages %}
          <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
            {{ language.name_local|title }}
          </option>
        {% endfor %}
      </select>
    </div>
    <div class="icon is-small is-left">
      <i class="fa fa-globe"></i>
    </div>
  </div>
</form>


<div class="flex focus:ring-blue-500 focus:border-blue-500">
    <div class="flex-shrink-0 inline-flex items-center py-2.5 pl-3 pr-2 text-sm text-center text-gray-500 border border-r-0 rounded-l-lg dark:bg-gray-700 dark:text-red-500 dark:border-gray-600">
      <i class="fa fa-globe"></i>
    </div>
    <label for="states" class="sr-only">Choose a state</label>
    <select id="states" class="text-gray-900 text-sm border rounded-r-lg border border-l-0 block w-full p-2.5 dark:bg-red-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
      <option selected>Choose a state</option>
      <option value="CA">California</option>
      <option value="TX">Texas</option>
      <option value="WH">Washinghton</option>
      <option value="FL">Florida</option>
      <option value="VG">Virginia</option>
      <option value="GE">Georgia</option>
      <option value="MI">Michigan</option>
    </select>
</div>
