{% extends "base.html" %}
{% load i18n %}

{% block content %}

  <div class="sticky top-0">
    {% include "components/shared/navbars/default.html" %}
  </div>

  {% trans "The Sofa Lab" as title %}
  {% trans "Just telling \"how it works\" is not always enough to get your ideas across, while neither is just showing them running." as description %}
  {% include "components/home/hero.html" with title=title description=description %}

  <div class="p-5">TOTO</div>

  <section id="about" class="hero hero-about is-fullheight is-bold has-text-centered">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Section About
        </h1>
      </div>
    </div>
  </section>


{% endblock %}
