{% load static i18n %}

<nav class="navbar"
     role="navigation"
     aria-label="main navigation"
     data-controller="navbar">
  <div class="navbar-brand is-fullwidth">
    <a class="navbar-item" href="{% url 'home' %}">
      TheSofa
    </a>
{#    <button class="button is-info" data-action="click->navbar#jsAction">#}
{#      Action#}
{#    </button>#}

    <a role="button"
       class="navbar-burger"
       aria-label="menu"
       data-action="click->navbar#toggleModalFullscreenMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item {% if active_tab == 'work' %}is-active{% endif %}" href="{% url 'work' %}">
        {% trans "Work" %}
      </a>
      <a class="navbar-item {% if active_tab == 'about' %}is-active{% endif %}" href="{% url 'about' %}">
        {% trans "About" %}
      </a>
    </div>

    <div class="navbar-end">
{#      {% if request.user.is_authenticated %}#}
{#        <a class="navbar-item" href="{% url 'users:detail' request.user.username  %}">#}
{#          {% trans "My Profile" %}#}
{#        </a>#}
{#        <a class="navbar-item" href="{% url 'account_logout' %}">#}
{#          {% trans "Sign Out" %}#}
{#        </a>#}
{#      {% else %}#}
{#        <div class="navbar-item">#}
{#          <div class="buttons">#}
{#            <a class="button is-primary" href="{% url 'account_signup' %}">#}
{#              <strong>Sign up</strong>#}
{#            </a>#}
{#            <a class="button is-light" href="{% url 'account_login' %}">#}
{#              Log in#}
{#            </a>#}
{#          </div>#}
{#        </div>#}
{#      {% endif %}#}
    </div>
  </div>
</nav>

<div class="modal modal-fullscreen-menu" data-controller="navbar">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete"
              aria-label="close"
              data-action="click->navbar#toggleModalFullscreenMenu"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button class="button" data-action="click->navbar#toggleModalFullscreenMenu">Cancel</button>
    </footer>
  </div>
</div>
