{% load static i18n %}

<section data-controller="navbar">
  <nav class="navbar border-b drop-shadow bg-white z-10"
       role="navigation"
       aria-label="main navigation"
       data-controller="navbar">
    <div class="navbar-brand is-fullwidth">
      <a class="navbar-item" href="{% url 'home' %}">
        {% if home_title %}
          {{ home_title }}
        {% else %}
          {% trans "The Sofa's Lab" %}
        {% endif %}
      </a>

      <a role="button"
         class="navbar-burger"
         aria-label="menu"
         data-action="click->navbar#toggleModalFullscreenMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        {% block navbar_menu_start_items %}
        {% endblock %}
      </div>
      <div class="navbar-end">
        {% block navbar_menu_end_items %}
        {% endblock %}
      </div>
    </div>
  </nav>

  {% block navbar_modal %}
    <div class="modal modal-fullscreen-menu">
      <div class="modal-background is-white"></div>
      <div class="modal-content">
        <!-- Any other Bulma elements you want -->
        <div class="menu">
          <div class="menu-list  has-text-centered">
            {% block modal_menu_list %}
            {% endblock %}
          </div>
        </div>
      </div>
      <button class="modal-close is-large"
              aria-label="close"
              data-action="click->navbar#toggleModalFullscreenMenu">
        <span class="hidden">{% trans "Close" %}</span>
      </button>
    </div>
  {% endblock %}
</section>
