{% extends "components/navbars/base.html" %}
{% load static i18n %}

{% block navbar_menu_start_items %}
  <a class="navbar-item" href="{% url 'components' %}">
    {% trans "Components" %}
  </a>
  <a class="navbar-item" href="{% url 'layouts_dashboard' %}">
    {% trans "Layouts" %}
  </a>
  <a class="navbar-item" href="{% url 'about' %}">
    {% trans "About" %}
  </a>
{% endblock %}


{% block navbar_modal %}
  <div class="modal modal-fullscreen-menu">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Modal title</p>
        <button class="delete"
                aria-label="close"
                data-action="click->navbar#toggleModalFullscreenMenu"></button>
      </header>
      <section class="modal-card-body">
        Bla bla bla
      </section>
      <footer class="modal-card-foot">
        <button class="button" data-action="click->navbar#toggleModalFullscreenMenu">Cancel</button>
      </footer>
    </div>
  </div>
{% endblock %}
