{% load static i18n %}

<nav class="navbar {{ classNames }}"
     role="navigation"
     aria-label="main navigation"
     data-controller="navbar">
  <div class="navbar-brand is-fullwidth">
    <a class="navbar-item" href="{% url 'home' %}">
      TheSofa
    </a>
{#    <button class="button is-info" data-action="click->navbar#jsAction">#}
{#      Action#}
{#    </button>#}

    <a role="button"
       class="navbar-burger"
       aria-label="menu"
       data-action="click->navbar#toggleModalFullscreenMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item {% if active_tab == 'work' %}is-active{% endif %}" href="{% url 'work' %}">
        {% trans "Work" %}
      </a>
      <a class="navbar-item {% if active_tab == 'about' %}is-active{% endif %}" href="{% url 'about' %}">
        {% trans "About" %}
      </a>
    </div>

    <div class="navbar-end">
    </div>
  </div>
</nav>

<div class="modal modal-fullscreen-menu"
     data-controller="navbar">
  <div class="modal-background is-white"></div>
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->
    <div class="menu">
      <div class="menu-list  has-text-centered">
        <li><a href="{% url 'home' %}">The Sofa</a></li>
        <a href="{% url 'work' %}">{% trans 'Work' %}</a>
        <a href="{% url 'about' %}">{% trans 'About' %}</a>
      </div>
    </div>
  </div>
  <button class="modal-close is-large"
          aria-label="close"
          data-action="click->navbar#toggleModalFullscreenMenu"></button>
{#  <div class="modal-card">#}
{#    <header class="modal-card-head">#}
{#      <p class="modal-card-title">Modal title</p>#}
{#      <button class="delete"#}
{#              aria-label="close"#}
{#              data-action="click->navbar#toggleModalFullscreenMenu"></button>#}
{#    </header>#}
{#    <section class="modal-card-body">#}
{#      <!-- Content ... -->#}
{#    </section>#}
{#    <footer class="modal-card-foot">#}
{#      <button class="button" data-action="click->navbar#toggleModalFullscreenMenu">Cancel</button>#}
{#    </footer>#}
{#  </div>#}
</div>
