// Importing bulma
@use "bulma";
// Importing Tailwindcss
@use "tailwindcss";

// Importing fontawesome
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// Importing Owned styles
@import "variables";
@import "card_games/card";
@import "card_games/card_deck";
@import "card_games/hand";
@import "card_games/table";
@import "layouts/dashboard";
@import "home";
@import "tutorial_theme";

.header__title::after {
  content: "The Sofa's Lab"!important;
}

.hello {
  background: red;
  width: 10px;
  height: 10px;
}

[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}
[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}
[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}
[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}
